body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.hero {
    background-color: #3d3d3d;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.btn {
    background-color: #6cdd78;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.blog-section, .latest-work {
    padding: 20px;
    background-color: #e9ecef;
    text-align: center;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.socials {
    list-style: none;
    padding: 0;
}

.socials li {
    display: inline;
    margin: 0 10px;
}